<div class="form-group">
	<div [hidden]="submitted">
		<form #heroForm="ngForm" (ngSubmit)="onSubmit(heroForm)" novalidate>
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" class="form-control" [(ngModel)]="model.name" required placeholder="name" #name="ngModel">
			<div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
			<label for="alterEgo">Alter ego:</label>
			<input type="text" id="alterEgo" name="alterEgo" class="form-control" [(ngModel)]="model.alterEgo" placeholder="alter ego">
			<label for="power">Hero Power:</label>
			<select class="form-control" name="power" id="power" [(ngModel)]="model.power" required>
				<option *ngFor='let heroPower of powers' [value]='heroPower'>{{heroPower}}</option>
			</select>
			<button [disabled]="!heroForm.form.valid" type="submit" class="btn btn-default">New Hero</button>
		</form>
	</div>
	<div [hidden]="!submitted" *ngIf="myHero">
		<h2>You submitted the following: </h2>
		<div class="row">
			<div class="col-xs-3">Name: </div>
			<div class="col-xs-9">{{ model.name }}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">Alter Ego: </div>
			<div class="col-xs-9">{{ model.alterEgo }}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">Power: </div>
			<div class="col-xs-9">{{ model.power }}</div>
		</div>
		<br>
		<button class="btn btn-primary" routerLink="/detail/{{myHero.id}}">Edit</button>
	</div>

</div>
